
H116_beta_master_eu.Rdata
H116_beta_master_sph.Rdata
H112_beta_master_eu.Rdata
H112_beta_master_sph.Rdata
H112_pol.Rdata
H115_pol.Rdata
H116_workspace_grouped_waic_dic.Rdata
simulation_results/paper1_circ_data_1d_eu.RData
simulation_results/paper1_circ_data_2d_eu.RData
simulation_results/paper1_circ_data_1d_eu.RData
simulation_results/paper1_circ_data_circ.RData
H116complete_workspace_grouped_waic_dic.Rdata
simulation_results/paper1_eu2d_data_1d_eu.RData
simulation_results/paper1_eu2d_data_2d_eu.RData
simulation_results/paper1_eu2d_data_circ.RData
data/H116_rollcalls.csv
data/Hall_rollcalls.csv
data/Hall_votes.csv
data/HSall_members.csv
data/Sall_members.csv
data/Sall_votes.csv
source/test_bessel.cpp
